.b-text tt
{
    font: monospace;

    padding: 0 0.2em;

    background: #F7F7E7;
}

.b-text pre code
{
    display: block;
    overflow: auto;
}

.b-text table
{
	width: 100%;
}

.b-text td
{
	padding: 5px;
}

.b-text table code
{
	padding: 5px;

	background: #f8f8ff;
}