.b-menu-horiz_type_submenu
{   
    position: absolute;
    left: 0;

    width: 100%;
    height: 45px;
    margin-top: 15px;

    background: #eee8d5;
}

.b-menu-horiz_type_submenu .b-menu-horiz__layout
{
    padding-left: 81px;
}

.b-menu-horiz_type_submenu .b-link
{    
    font-size: 12px;

    display: block;

    margin-top: 6px;
    padding: 6px 7px 13px;

    text-decoration: underline;
    color: #657b83;
}

.b-menu-horiz_type_submenu .b-link:hover,
.b-menu-horiz_type_submenu .b-link_state_current
{
    background: #fff;

    text-decoration: underline; 
}

@media all and (-webkit-min-device-pixel-ratio:0) 
{
    .b-menu-horiz_type_submenu .b-link
    {
        padding: 6px 7px 14px; /* Chrome */
    }
    .b-menu-horiz_type_submenu
    {
        padding-top: 1px; /* Chrome */
    }   
}

@media (min-resolution: .001dpcm) 
{
    _:-o-prefocus, .b-menu-horiz_type_submenu
    { 
        margin-top: 14px; /* Opera */
        padding-top: 1px;
    }
    _:-o-prefocus, .b-menu-horiz_type_submenu a
    { 
        padding: 6px 7px 14px; /* Opera */
    }   
}