.b-form-slider_size_s .b-form-slider__mark
{
    font-size: 11px;
}

.b-form-slider_size_s .b-form-slider__body
{
    height: 21px;
}

.b-form-slider_size_s .b-form-slider__runner
{
    width: 34px;
    height: 17px;
    margin-left: -18px;
}

.b-form-slider_size_s .b-form-slider__runner_pos_1,
.b-form-slider_size_s .b-form-slider__runner_pos_2
{
    width: 17px;
}
