.b-form-button_focused_yes
{
    background-position: 100% -570px;
    outline: 0 solid;
}

.b-form-button_focused_yes .b-form-button__left
{
    background-position: 0 -513px;
}

.b-form-button_focused_yes .b-form-button__content
{
    background-position: 0 -627px;
}

.b-form-button_focused_yes.b-form-button_hovered_yes
{
    background-position: 100% -741px;
}

.b-form-button_focused_yes.b-form-button_hovered_yes .b-form-button__left
{
    background-position: 0 -684px;
}

.b-form-button_focused_yes.b-form-button_hovered_yes .b-form-button__content
{
    background-position: 0 -798px;
}