.b-form-select__popup_theme_black .b-form-select__item_focused_yes,
.b-form-select__popup_theme_black .b-form-select__item_hovered_yes
{
    background-color: #616161;
}

.b-form-select__popup_theme_black .b-form-select__separator
{
    border-top: 1px solid #3b3b3b;
}

.b-form-select__popup_theme_black .b-form-select__fade
{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjRiNGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(75,75,75,0) 0%, rgba(75,75,75,1) 30%, rgba(75,75,75,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(75,75,75,0)), color-stop(30%,rgba(75,75,75,1)), color-stop(100%,rgba(75,75,75,1)));
    background: -webkit-linear-gradient(left,  rgba(75,75,75,0) 0%,rgba(75,75,75,1) 30%,rgba(75,75,75,1) 100%);
    background: -o-linear-gradient(left,  rgba(75,75,75,0) 0%,rgba(75,75,75,1) 30%,rgba(75,75,75,1) 100%);
    background: -ms-linear-gradient(left,  rgba(75,75,75,0) 0%,rgba(75,75,75,1) 30%,rgba(75,75,75,1) 100%);
    background: linear-gradient(left,  rgba(75,75,75,0) 0%,rgba(75,75,75,1) 30%,rgba(75,75,75,1) 100%);
}

.b-form-select__popup_theme_black .b-form-select__item_focused_yes:after,
.b-form-select__popup_theme_black .b-form-select__item_hovered_yes:after
{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNjE2MSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzYxNjE2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MTYxNjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(97,97,97,0) 0%, rgba(97,97,97,1) 30%, rgba(97,97,97,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(97,97,97,0)), color-stop(30%,rgba(97,97,97,1)), color-stop(100%,rgba(97,97,97,1)));
    background: -webkit-linear-gradient(left,  rgba(97,97,97,0) 0%,rgba(97,97,97,1) 30%,rgba(97,97,97,1) 100%);
    background: -o-linear-gradient(left,  rgba(97,97,97,0) 0%,rgba(97,97,97,1) 30%,rgba(97,97,97,1) 100%);
    background: -ms-linear-gradient(left,  rgba(97,97,97,0) 0%,rgba(97,97,97,1) 30%,rgba(97,97,97,1) 100%);
    background: linear-gradient(left,  rgba(97,97,97,0) 0%,rgba(97,97,97,1) 30%,rgba(97,97,97,1) 100%);
}

.b-form-select__popup_theme_black .b-form-select__item_selected_yes .b-form-select__text:before
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAKCAYAAADGmhxQAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA3klEQVR42sTTIUvDURQF8J9jCBaxL2oxWPcJBlYR+4rBosmgRdvYJ1kciFVsBt2KSS02P4B+AI/lDeZws73/gcO7j/PgHt49dy2Jf9DFK740gNYKrYMb9Bowt4VL7LeXPNjEEB8YVDa3jgtsYLLMYL/84EEDUz3CNo7xKckiu0mm5VSZO0lu53v/lcFTjPFUMW+zSZ7gAZOZ2C5LAHc4xG7JQC1c4R0vpfc5Mm+wX4RBqcdlOWrhGWf4xghvv9QknST3JXfTcq+Zu1aS6ySPSfYW9VnRK+aGDSzGSv4MALTyjMTA+WZMAAAAAElFTkSuQmCC);
}

.b-form-select__popup_theme_black .b-form-select__item_disabled_yes .b-form-select__text
{
    color: #7d7d7d;
}

.b-form-select_theme_black .b-form-select__arrow
{
    color: #b2b2b2;
}