.DS_Store
.idea/
.svn/
bem-www.iml
.bem/cache/
bem-bl/
node_modules/
content/bem-method/
content/bem-core/
content/bem-tools/
content/csso/
content/articles/

pages-desktop/*/*.*
!pages-desktop/*/*.bemjson.js
!pages-desktop/.bem
!pages-desktop/.bem/level.js
pages-desktop/bem-method*/
pages-desktop/tools*/
pages-desktop/bem-tools*/
pages-desktop/csso*/
pages-desktop/articles*/
pages-desktop/bem-core-intro-ru*/
pages-desktop/bem-core-reference*/
pages-desktop/blog-2013-02-bem-goes-to-india*/
pages-desktop/blog-2013-02-maintainable-frontend-dev-with-bem*/

bundles-desktop/*/*.*
!bundles-desktop/*/*.bemjson.js
!bundles-desktop/.bem
!bundles-desktop/.bem/level.js
bundles-desktop/bem-method*/
bundles-desktop/tools*/
bundles-desktop/bem-tools*/
bundles-desktop/csso*/
bundles-desktop/articles*/
bundles-desktop/blog-2013-02-bem-goes-to-india*/
