.DS_Store
.idea/
bem-www.iml
.bem/cache/
bem-bl/
node_modules/
content/bem-method/
content/bem-tools/
pages-desktop/*/*.*
.svn/
!pages-desktop/*/*.bemjson.js
!pages-desktop/.bem
!pages-desktop/.bem/level.js
pages-desktop/bem-method*/
pages-desktop/tools*/
pages-desktop/bem-tools*/
