.b-form-slider_type_range .b-form-slider__runner_pos_1
{
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.b-form-slider_type_range .b-form-slider__runner_pos_2
{
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.b-form-slider_type_range .b-form-slider__body_type_range .b-form-slider__runner_position_last
{
    margin-left: 0;
}

.b-form-slider_type_range .b-form-slider__range_pos_2
{
    z-index: 3;
}
