.b-form-button
{
    position: relative;
}

.b-form-button__click
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font: 0/0 a;
}

/* Страшный хак для всех Опер http://dimox.name/personal_css_hacks_for_opera_firefox_ie/ */ /**/
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0)
{
    .b-form-button__click
    {
        position: relative;
        top: -100%;
        left: 0;

        display: block;
    }
}

.i-ua_css_quirks .b-form-button__click
{
    margin-bottom: -100%;
}