.footer
{
    background: #000;
	color: #fff;
	
	padding: 25px 50px;
	
	overflow: hidden;
	font-size: 12px;
}

.footer a
{
    color: #fff;
	
	line-height: 1.9;
}

.footer a:hover
{
	background: #000;
	
	text-decoration: none;
}

.footer__tech
{
	width: 21%;
	
	float: left;
}
