.tools
{
	overflow: hidden;
	
	margin-bottom: 80px;
	padding: 0 65px;
}

.tools__link
{
	text-align: center;
	
	margin-bottom: 1em;
}

.tools__tool_type_col-1,
.tools__tool_type_col-2,
.b-menu-vert_type_col-3
{
	width: 27%;
	
	margin-left: 8%;
	
	float: left;
}

.tools__tool_type_col-1
{
	margin-left: 2%;
}

@media screen and (min-width: 2000px) 
{
	.tools
	{
		margin-bottom: 80px;
		padding: 0 65px;
		
		overflow: hidden;
		
		width: 45%;
	}
}