.b-link_cmp_lj
{
	display: block; 
	
	float: left;
	
	background: url(b-link_cmp_lj.png);
	
	width: 133px;
	height: 46px;
}

.b-link_cmp_lj:hover
{
	background: url(b-link_cmp_lj.png);
}

@media screen and (min-width: 2000px) 
{
	.b-link_cmp_lj
	{
		margin: 0 4%;
	}
}