.b-link_cmp_lenta
{
	display: block; 
	
	float: left;
	
	background: url(b-link_cmp_lenta.png);
	
	width: 158px;
	height: 41px;
}

.b-link_cmp_lenta:hover
{
	background: url(b-link_cmp_lenta.png);
}

@media screen and (min-width: 2000px) 
{
	.b-link_cmp_lenta
	{
		margin: 0 4%;
	}
}