.b-form-select__item_disabled_yes .b-form-select__text
{
    background: none!important;
}

.b-form-select__item_disabled_yes.b-form-select__item:hover
{
    background: none;
}

.b-form-select__item_disabled_yes.b-form-select__item_hovered_yes:after,
.b-form-select__item_disabled_yes.b-form-select__item_selected_yes .b-form-select__text:before
{
    display: none!important;
}