.description
{
    margin-bottom: 2.3em;
    padding: 0 50px;
}

.description__link
{
    float: left;

    width: 37%;
}

.description__inner
{
    float: left;

    margin-left: 2%;

    width: 50%;
}

@media screen and (min-width: 1920px)
{
    .description
    {
        width: 42%;
    }

    .description__link
    {
        width: 38%;
    }
}