.b-form-button_size_s
{
    height: 23px;
}

.b-form-button_size_s .b-form-button__left
{
    width: 5px;
    margin-right: -5px; /* FF2 *//**/
}

.b-form-button_size_s .b-form-button__normal,
.b-form-button_size_s .b-form-button__simple,
.b-form-button_size_s .b-form-button__content
{
    font: 11px/21px Verdana, Arial, sans-serif;

    margin: 0 5px; /* margin-left для FF2 *//**/
    padding: 0 9px;
}

.b-form-button_size_s .b-form-button__normal,
.b-form-button_size_s .b-form-button__simple
{
    height: 19px;

    line-height: 17px;
}
