.b-search-button
{
	font: 12px Tahoma;
	
	padding: 7px 13px 6px 13px;
	margin: 10px 0.5em 0 0;
	
	border: 1px solid #ccc;
	
	background: #fff;
	
	display: inline-block;
	
	cursor: pointer;
	
	color: #586E75;		
}

.b-search-button:hover
{
	border-color: #aaa;	
}

.b-search-button:active
{
	border-color: #999;	
}

@media all and (-webkit-min-device-pixel-ratio:0) 
{
	.b-search-button 
	{
		padding: 8px 15px 9px 15px; /* Chrome */
	}
}


@media (min-resolution: .001dpcm) 
{
    _:-o-prefocus, .b-search-button 
	{ 
        padding:  9px 15px 8px 15px; /* Opera */
    }
}

