@font-face 
{
    font-family: Ekibastuz; /* ָל רנטפעא */
    src: url(ALSEkibastuz_Regular.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

.b-page
{
    font: 14px/1.7 Tahoma, arial, sans-serif;

    margin: 0 auto;
	
	width: 1000px;

    background: #f3f1ee;

    color: #586e75;
}

@media screen and (min-width: 2000px) 
{
	.b-page
	{
		width: 2000px;
	}
}