.technologies
{
    background: #fdf6e3;
	overflow: hidden;
	
	padding: 0 30px 60px 30px;
	margin-bottom: 35px;
}

.technologies__link
{
	text-align: center;
	padding: 25px 0 0 0;
}

.technologies__info
{
	width: 39%;
	margin: -1em auto 2em;	
}

.technologies__tech
{
	width: 21%;
	margin-left: 3%;
	
	float: left;
	font-size: 12px;
}

.technologies__tech:first-child
{
	margin-left: 0;
}

.technologies__tech .b-link
{
	display: inline-block; 
	
	font: 200% Ekibastuz, Tahoma, arial, sans-serif;
	
	padding: 2px 7px;
	margin: -5px 0 20px -7px;
	
	white-space: nowrap;
}

@media screen and (min-width: 2000px) 
{
	.technologies
	{
		float: left;
		
		width: 46%;
	}
}