.b-form-button_hovered_yes
{
    background-position: 100% -226px;
}

.b-form-button_hovered_yes .b-form-button__left
{
    background-position: 0 -169px;
}

.b-form-button_hovered_yes .b-form-button__content
{
    background-position: 0 -283px;
}
