.b-form-select__item
{
    position: relative;

    float: left;
    clear: both;

    width: 100%;
    padding-bottom: 2px;

    cursor: default;
    white-space: nowrap;
}

.b-form-select__item:after
{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;

    width: 25px;
    height: 19px;

    content: '';
}

.b-form-select__text
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 0 27px 0 6px;
}
