.b-form-button__input
{
    /* Проявляется странная бага:
       если инпут poa с w100% и h100% в ИЕ7 QM и ИЕ8 QM,
       то на нем перестает отрабатывать filter: opacity.
       Если не делать его poa для этих браузеров, то инпуту все равно нужна будет высота,
       т.к. он неправильно растягивается по h100% (чуток больше),
       поэтому сделано для всех ИЕ6 QM, SM и для ИЕ7 QM и ИЕ8 QM одинаково тупо.
    /**/

    position: absolute;

	filter: alpha(opacity=0);
}

[class].b-form-button__input
{
    top: 0;
    left: 0;

    margin: 0;
}
