.i-ua_js_yes .b-form-checkbox_size_m .b-form-checkbox__tick
{
    width: 11px;
    height: 11px;
}

.i-ua_js_yes .b-form-checkbox_size_m .b-form-checkbox__checkbox
{
    width: 12px;
    height: 12px;
    margin-top: 1px;
}

/* Поддержка без картинок */ /**/
.i-ua_js_yes .b-form-checkbox_size_m .b-form-checkbox__tick[alt]
{
    font-size: 10px;

    letter-spacing: -1px;
}