.header__logo
{
    float: left;

    width: 50px;
    height: 40px;
    margin: 10px 0 0 10px;

    background: url("http://bem.info/blocks-desktop/header/__logo/header__logo.png");
}

.b-link.header__logo:hover
{
    background: url("http://bem.info/blocks-desktop/header/__logo/header__logo.png");
}
