.b-form-button_theme_black-s,
.b-form-button_theme_black-s .b-form-button__left,
.b-form-button_theme_black-s .b-form-button__content
{
    color: rgba(255, 255, 255, .8);
    background-image: url(b-form-button_theme_black-s.png);
}

.b-form-button_theme_black-s.b-form-button_hovered_yes .b-form-button__content
{
    color: #fff;
}

body .b-form-button_theme_black-s.b-form-button_disabled_yes .b-form-button__content
{
    color: rgba(255, 255, 255, .4);
}