.b-form-button_theme_grey-m,
.b-form-button_theme_grey-m .b-form-button__left,
.b-form-button_theme_grey-m .b-form-button__content
{
    color: #000;
    background-image: url(b-form-button_theme_grey-m.png);
}

body .b-form-button_disabled_yes .b-form-button__content
{
    color: #999 !important;
}
