.i-ua_js_yes .b-form-checkbox
{
    position: relative;

    vertical-align: middle;
}

.i-ua_js_yes .b-form-checkbox__inner
{
    font: 0/100% a; /*LEGO-4725*/

    position: relative;
    
    display: inline-block;

    margin: 0 2px 2px;
    padding: 0;

    cursor: default;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    -webkit-background-clip: padding;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.i-ua_js_yes .b-form-checkbox__checkbox
{
    position: absolute;
    z-index: 4;
    top: 0;

    margin: 0;
    padding: 0;

    opacity: 0;
    outline: 0;

    border: 0;
    background: none;
}

.i-ua_js_yes .b-form-checkbox__bg
{
    display: inline-block;

    margin: 1px;
    padding: 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    -webkit-background-clip: padding;
}

.i-ua_js_yes .b-form-checkbox__tick
{
    font: 0/0 a;

    display: inline-block;
}