.content
{
    max-width: 1050px;
    padding: 26px 19px 24px 76px;

    background: #fff;
    box-shadow: 4px 8px 8px rgba(0,0,0,.1);
}

.content .b-link
{
    margin: -5px 0 5px -7px;
    padding: 5px 7px;
}