.nav_type_main
{
    padding-top: 11px;
}

.nav .b-link,
.nav .b-menu-horiz__item_state_current
{
    display: block;

    padding: 8px 16px 8px;
}

.nav_type_main .b-menu-horiz__item_state_current
{
    background: #eee8d5;
}

.nav_type_sub
{
    padding-left: 12px;

    background: #eee8d5;
}

.nav_type_sub .b-link:hover,
.nav_type_sub .b-menu-horiz__item_state_current
{
    background: #fff;

    color: #586e75;
}
