.nav_level_first
{
    font-size: 20px;

    padding-top: 11px;
}

.b-page .nav .b-link,
.nav .b-menu-horiz__item_state_current
{
    display: block;

    padding: 8px 16px 8px;
}

.nav .b-menu-horiz__item_state_current
{
    background: #F3F1EE;
}

.nav_level_first .b-menu-horiz__item_state_current,
.nav_level_first .b-menu-horiz__item_state_parent
{
    background: #eee8d5;
}

.nav_level_second
{
    padding-left: 60px;

    background: #eee8d5;
}

.nav_level_second .b-link:hover,
.nav_level_second .b-menu-horiz__item_state_current,
.nav_level_second .b-menu-horiz__item_state_parent
{
    background: #fff;

    color: #586e75;
}
